header{
    height:300px;
}
img{
    max-width:800px;
}
.container{
    background-color: rgb(19,76,253,0.3);
}
li{

    font-size:1.3rem;
}
.felsorolas::first-letter{
    font-weight:bold;
    font-size:1.3rem;
}